[submodule "libs/pico-sdk"]
	path = libs/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "libs/rpixel"]
	path = libs/rpixel
	url = https://github.com/joeinman/rpixel
[submodule "libs/embed_curses"]
	path = libs/embed_curses
	url = https://github.com/joeinman/embed_curses
