[submodule "libs/pico-sdk"]
	path = libs/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "libs/rpixel"]
	path = libs/rpixel
	url = https://github.com/joeinman/rpixel
[submodule "libs/neo"]
	path = libs/neo
	url = https://github.com/joeinman/neo
